/* @font-face { */
  /* font-family: "FontOne"; /* ตั้งชื่อฟอนต์ตามที่ต้องการ ถ้า FONT_ONE ไม่ทำงาน sans-serif จะทำแทน */ */
  /* src: url("./BBHSansBartle-Regular.ttf") format("truetype"); */
<style>
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=BBH+Sans+Bartle&family=Bungee&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Jersey+10&family=Jersey+20+Charted&family=Rubik+80s+Fade&display=swap');
</style>
/* } */
body {
    font-family: 'BBH Sans Bartle', sans-serif;
}
h1 {
    font-family: 'BBH Sans Bartle';
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 0.8px black;
}
#p1 {
    width: 1500px;
    height: 550px;
    border: dashed blue;
    position: absolute;
    top: 20;
}
#job72 {
    width: 30px;
    height: 90px;
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 5px;      
}
#job72 span {
    writing-mode: vertical-rl; /*เขียนตัวอักษรแนวตั้งจากล่างขึ้นบน */
    /* text-orientation: mixed;   ให้ตัวอักษรไทยไม่กลับหัว */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 10px;   */
    display: inline-block;
    transform: rotate(180deg);   /* 👈 หมุนตัวอักษรหันหัวไปทางซ้าย */
    transform-origin: left;    /* หมุนรอบจุดกึ่งกลาง */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 8px;
    margin-left: 20px;
    margin-top: 6px;
    font-family: 'BBH Sans Bartle', sans-serif;
}
#job00 {
    width: 30px;
    height: 120px;
    background-color: red;
    position: relative;
    top: 20px;
    left: 5px;      
}
#job00 span {
    writing-mode: vertical-rl; /*เขียนตัวอักษรแนวตั้งจากล่างขึ้นบน */
    /* text-orientation: mixed;   ให้ตัวอักษรไทยไม่กลับหัว */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 20px;   */
    display: inline-block;
    transform: rotate(180deg);   /* 👈 หมุนตัวอักษรหันหัวไปทางซ้าย */
    transform-origin: left;    /* หมุนรอบจุดกึ่งกลาง */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 12px;
    margin-left:20px;
    margin-top: 6px;
    font-family: 'BBH Sans Bartle', sans-serif;

}






